<div style="padding: 20px;">
	<nav class="navbar navbar-light bg-primary justify-content-between">
		<a class="navbar-brand">The system</a>
		<a routerLink="document" class="btn btn-primary active" role="button" routerLinkActive="active">Documents</a>
		<a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
		<a routerLink="login" class="btn btn-danger active" role="button" routerLinkActive="active">Logout</a>
	</nav>
	<router-outlet></router-outlet>
</div>