<h3 class="text-primary text-center">Details</h3>
<div *ngIf="document" class="container">
	<form [formGroup]="DocEditForm">
		<div class="form-group">
			<label>Document name: </label>
			<input class="form-control" type="text" formControlName="name" (ngModelChange)="onChange($event)" [ngClass]="{ 'is-invalid': f.name.errors }">
			<label>User name: </label>
			<input class="form-control" type="text" formControlName="user" disabled>
			<label>Upload date: </label>
			<input class="form-control" type="datetime-local" formControlName="date" disabled>
			<button *ngIf="change == true" class="btn btn-default" [disabled]="isValid" (click)="saveChange()">
				Save
			</button>
		</div>
	</form>
	<button type="button" class="btn btn-info" (click)="downloadDocument()">Download</button>
	<button type="button" class="btn btn-primary" (click)="updateDocument()">Update File</button>
	<button type="button" class="btn btn-danger" (click)="deleteDocument()">Delete</button>
</div>

<div *ngIf="error" class="alert alert-danger">{{error}}</div>
